name: Deploy to DigitalOcean

on:
  push:
    branches:
      - main  # Triggered every time youpush to the main branch

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Executing remote ssh commands using SSH_KEY
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.SSH_KEY }}
          script: |
            cd /var/www/learnwithamine/html
            git pull origin main
            sudo chown -R www-data:www-data /var/www/learnwithamine/html
            sudo systemctl reload nginx